<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <script src="/config.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBpJwKuwvWYmqM3Tk0C1LaBhu6cfrBoKU&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <link rel='stylesheet' href='/stylesheets/results.css'>      
</head>
<body>

  <div id='latCenter' hidden><%= centerpoint[0] %>'</div>
  <div id='lngCenter' hidden><%= centerpoint[1] %>'</div>
  <script src='/scripts/finalResult.js'></script>


    <div>
      <% let counter=0%>

        <%  data.location.forEach(element=>{ %>
              <div>
                <%=`Address${counter}:${element} Cooridinates:${locals.loc[counter]}`%>
              </div>
                <%counter++%> 
        <%}) %>
        <%= `Centerpoint coordiantes lattitude:${centerpoint[0]},`%>
        <%= `longitude:${centerpoint[1]}`%>
    </div>
    <div id="map"></div>
</body>
</html>