<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <script src="/config.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBpJwKuwvWYmqM3Tk0C1LaBhu6cfrBoKU&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <link rel='stylesheet' href='/stylesheets/results.css'>      
</head>
<body>

  <div id='latCenter' hidden><%= centerpointLat %>'</div>
  <div id='lngCenter' hidden><%= centerpointLng %>'</div>
  <script src='/scripts/finalResult.js'></script>

    <div>
        <%  data.location.forEach(element=>{ %>
                Address:<%=element +"\n"%> 
        <%}) %>
        <%= centerpointLat %>
        <%= centerpointLng %>
    </div>
    <div id="map"></div>
</body>
</html>