<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <script src="/config.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBpJwKuwvWYmqM3Tk0C1LaBhu6cfrBoKU&callback=initMap&libraries=geometry&v=weekly"
      defer
    ></script>
    <link rel='stylesheet' href='/stylesheets/results.css'>      
</head>
<body>

  <div id='latCenter' hidden><%= centerpoint[0] %>'</div>
  <div id='lngCenter' hidden><%= centerpoint[1] %>'</div>
  <div id="map"></div>

    <div id='info'>
      <% let counter=0%>

        <%  locations.forEach(element=>{ %>
              <div class='displayInfo'>
                <%=`Address${counter+1}:${element} Cooridinates:${locals.loc[counter]}`%>
              </div>
              <div class='locInfo' hidden>
                <div class='coordiantes'>
                  <%=locals.loc[counter]%>
                </div>
                <div class='Address'>
                  <%= element%>
                </div>
              </div>
              
                <%counter++%> 
        <%}) %>
        <div id='centerpoint'>
          <%= `Centerpoint coordiantes lattitude:${centerpoint[0]},`%>
          <%= `longitude:${centerpoint[1]}`%>
        </div>
    </div>
    <script src='/scripts/finalResult.js'></script>

</body>
</html>